@keyframes color-change {
    0%{color:red;}
    25%{color: blue;}
    50%{color: blueviolet;}
    75%{color: palevioletred;}
    100%{color:red;}
}

@keyframes box-shape{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes rotate-infinite{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

